## Condicionales

Las sentencias condicionales se usan para tomar decisiones, éstas evalúan una operación lógica (declaraciones o statements), es decir una expresión que de como resultado **True** o **False** , y ejecuta una pieza de código u otro dependiendo del resultado. **Dependiendo de la estructura del condicional se ejecutará o no una o varias lineas de código.**

###  if

Es la base del condicional, **`if`** evaluará si una declaración es **`True`** o **`False`** y, dependiendo del resultado, ejecutará una linea de código u otro.

**Ejemplo:**

In [1]:
edad = 18

if edad >= 18:
    print("Persona mayor de edad.")

Persona mayor de edad.

In [3]:
edad = 17

if edad >= 18:
    print("Persona mayor de edad.")

print('Continuo por aquí')

Continuo por aquí

### else

Es el complemento del **`if`**, usando **`else`** podemos dar otro resultado si la condición no se cumple.

**El condicional `else` no es obligatorio y no necesita que le demos una declaración.**

**Cuando se ejecuta el `if` NO se ejecuta el `else` y cuando NO se ejecuta el `if` se ejecuta el `else`.**

In [4]:
edad = 18

if edad >= 18:
    print("Persona mayor de edad.")
    
else:
    print("Condición no se cumple, persona menor de edad")

Persona mayor de edad.

In [5]:
edad = 17

if edad >= 18:
    print("Persona mayor de edad.")
    
else:
    print("Condición no se cumple, persona menor de edad")

Condición no se cumple, persona menor de edad

### elif

Abreviatura de **`else if`**, está nos ayuda a verificar diferentes comprobaciones, **es opcional usarlo y al igual que el `if` necesita una condición para comprobar, podemos usar tantos `elif` como queramos**.

In [6]:
edad = 15

if edad >= 18:
    print("Persona mayor de edad.")
    
elif edad == 17:
    print("Persona menor de edad, con 17 años.")
    
elif edad == 15:
    print("Persona menor de edad, con 15 años.")
    
elif edad == 13:
    print("Persona menor de edad, con 13 años.")
    
else:
    print("Persona menor de 13 años.")

Persona menor de edad, con 15 años.

### Condicionales anidados

Al igual que las listas en Python, se pueden anidar condicionales, esto nos permite hacer código más complejo.

In [8]:
edad = 17
direccion = "A Coruña"

if direccion == "Madrid":
    
    if edad >= 18:
        print("Vive en Madrid, mayor de edad.")
        
    elif (edad >= 15) and (edad < 18):
        print("Vive en Madrid, menor de 18 pero mayor de 15 años.")
        
    else:
        print("Vive en Madrid, menor de 15 años.")
    
else:
    
    print("No vive en Madrid.")
    
    if edad >= 18:
        print("Mayor de edad.")
    else:
        print("Menor de edad")

No vive en Madrid.
Menor de edad

## Casting (conversión)

En python y otros lenguajes, **`casting`** es un termino usado para cambiar el tipo de dato de una variable, como convertir un número **`float`** a **`int`** o una **`tuple`** a **`list`** (o viceversa).

Para hacer **`casting`** o castear, usamos las funciones **`built-in`** de Python, que también son palabras reservadas:

|Función      |Tipo              |
|-------------|------------------|
| **int()**   |Entero            |
| **float()** |Flotante (Decimal)|
| **bool()**  |Booleano          |
| **str()**   |String            |
| **tuple()** |Tupla             |
| **list()**  |Lista             |
| **set()**   |Set (o conjunto)  |
| **dict()**  |Diccionario       |


**Dependiendo del tipo de dato original podremos castear una variable a un tipo de dato u otro.**

Por ejemplo, podemos transformar un numero a una cadena de caracteres, pero no podemos transformar una cadena de caracteres con letras a un numero entero.

In [10]:
entero = 1000

type(entero)

int

In [12]:
entero

1000

In [11]:
entero_cateado_a_str = str(entero)

type(entero_cateado_a_str)

str

In [13]:
entero_cateado_a_str

'1000'

In [14]:
string = "1000"

int(string)

1000

In [15]:
float(string)

1000.0

In [16]:
string = "Hola"

int(string)

ValueError: invalid literal for int() with base 10: 'Hola'

In [17]:
tupla = (1, 2, 3, 4, 5, 6)

list(tupla)

[1, 2, 3, 4, 5, 6]

In [18]:
set(tupla)

{1, 2, 3, 4, 5, 6}

In [19]:
string = "100a00"

float(string)

ValueError: could not convert string to float: '100a00'

## input

La función **`input()`** pide al usuario que ingrese por teclado un mensaje, puede ser una variable, un numero, una cadena de caracteres, una lista... Esta función SIEMPRE retorna una **`string`**, por lo que si el usuario ingresa un número tendremos que castearlo para poder usarlo como número.

In [20]:
input("Ingrese edad:")

Ingrese edad: 40

'40'

In [21]:
edad = input("Ingrese edad: ")

Ingrese edad:  40

In [22]:
print(edad)

40

In [23]:
type(edad)

str

In [24]:
edad = int(input("Ingrese edad: "))

type(edad)

Ingrese edad:  40

int

In [27]:
numeros = input("Ingresa una lista de numeros separados por espacios: ")

Ingresa una lista de numeros separados por espacios:  1 2 3 4 5 44 23 6546 65756 23432 6757

In [28]:
numeros

'1 2 3 4 5 44 23 6546 65756 23432 6757'

In [29]:
numeros = numeros.split(" ")

numeros

['1', '2', '3', '4', '5', '44', '23', '6546', '65756', '23432', '6757']

In [42]:
n1 = []
for n in numeros:
    if int(n) > 25:
        n1.append(int(n))
    else:
        n1.append(float(n))

n1

[1.0, 2.0, 3.0, 4.0, 5.0, 44, 23.0, 6546, 65756, 23432, 6757]

In [47]:
for n in n1:
    print(type(n))

<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'int'>
<class 'float'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>

In [45]:
type(n1[7])

int

In [39]:
lista1 = list(input('Ingresa los numeros que quieres separados por espacios'))

Ingresa los numeros que quieres separados por espacios 12343

In [40]:
lista1

['1', '2', '3', '4', '3']

In [ ]:
################################################################################################################################