### JOIN (uniones)

- **`JOIN`** es una operación utilizada para combinar las filas de dos o más tablas usando una condición relacioanda entre estas tablas.


- Existen diferentes tipos de **`JOIN`**: **INNER**, **LEFT**, **RIGHT**.

**Sintaxis:**

```mysql
    SELECT 
        t1.*, t2.*
    FROM
        tabla_1 t1
            INNER JOIN
        tabla_2 t2 ON t1.primary_key = t2.foreing_key; 
```


- Cuando se hacen **JOINS** es común usar alias para las tablas.


- En la cláusula **`ON`** se indica que columna es la que une ambas tablas.


- Se pueden concatenar multiples **`JOINS`** siempre y cuando exista una relación.


- En este ejemplo se mostraran todas las columnas de las tablas **t1** y **t2**.


- Aunque no sea obligatorio en algunos casos, es necesario escribir el nombre de la tabla seguido por un punto (**`.`**) y el nombre de la columna de esa tabla, esto indica a SQL de donde proviene cada columna y hace el código más legible.

#### INNER JOIN

- **`INNER JOIN`** es el tipo de **`JOIN`** más común y básico. Combina las filas de dos tablas siempre y cuando se cumpla la condición de igualdad especificada en la cláusula **`ON`**. Solo devuelve las filas que tienen coincidencias en ambas tablas.

**Ejemplos:**

- Muestra todas las columnas de las tablas **film** y **film_actor**. Se unen por la columna **film_id** que esta presente en ambas tablas.

```mysql
    SELECT 
        t1.*, t2.*
    FROM
        film t1
            JOIN
        film_actor t2 ON t1.film_id = t2.film_id; 
```

- Une las tablas **film** y **actor** usando la tabla **film_actor** de intermediaria. Solo muestra las columnas de las columnas **film** y **actor**.

```mysql
    SELECT 
        t1.*, t3.*
    FROM
        film t1
            JOIN
        film_actor t2 ON t1.film_id = t2.film_id
            JOIN
        actor t3 ON t2.actor_id = t3.actor_id; 
```

#### LEFT JOIN

- **`LEFT JOIN`** combina todas las filas de la primera tabla (tabla izquierda) con las filas coincidentes de la segunda tabla (tabla derecha), y también incluye las filas de la tabla izquierda que no tienen coincidencias en la tabla derecha.


- Si no hay coincidencias en la tabla derecha, los valores correspondientes se establecen como NULL.


**Ejemplos:**

- **`LEFT JOIN`** con las tablas **actor** y **film_actor**.

```mysql
    SELECT 
        t1.actor_id, t1.first_name, t1.last_name, t2.film_id
    FROM
        actor t1
            LEFT JOIN
        film_actor t2 ON t1.actor_id = t2.actor_id;
```

#### RIGHT JOIN

- **`RIGHT JOIN`** combina todas las filas de la segunda tabla (tabla derecha) con las filas coincidentes de la primera tabla (tabla izquierda), y también incluye las filas de la tabla derecha que no tienen coincidencias en la tabla izquierda.


- Si no hay coincidencias en la tabla izquierda, los valores correspondientes se establecen como NULL.


**Ejemplos:**

- **`RIGHT JOIN`** con las tablas **actor** y **film_actor**.

```mysql
    SELECT 
        t1.actor_id, t1.first_name, t1.last_name, t2.film_id
    FROM
        actor t1
            RIGHT JOIN
        film_actor t2 ON t1.actor_id = t2.actor_id;
```

**Ejemplo:**

- Muestra los clientes que hayan rentado más de 10 veces películas de **language_id = 1** entre las fechas **2005-01-01** y **2005-12-31**. Se hace **`GROUP BY`** por **customer_id**, **first_name** y **last_name** para poder mostrarse en el **`SELECT`**.

```mysql
SELECT 
    t1.customer_id,
    t1.first_name,
    t1.last_name,
    COUNT(t2.rental_id) AS total_rentals
FROM
    customer t1
        JOIN
    rental t2 ON t1.customer_id = t2.customer_id
        JOIN
    inventory t3 ON t2.inventory_id = t3.inventory_id
        JOIN
    film t4 ON t3.film_id = t4.film_id
WHERE
    t4.language_id = 1
        AND t2.rental_date BETWEEN '2005-01-01' AND '2005-12-31'
GROUP BY t1.customer_id , t1.first_name , t1.last_name
HAVING COUNT(t2.rental_id) > 10
ORDER BY total_rentals DESC;
```

In [ ]:
################################################################################################################################