## Ejercicios lists

In [ ]:
lista = ["a", "b", "c", "d", "e", 1, 2, 3, 4, 5, False, True]

### Ejercicio 1
- En listas separadas obtener una lista paras los caracteres, otra para los enteros y otra para lo booleanos, utilizando slicing.
- Llamalas lista_1, lista_2, lista_3

In [ ]:
lista_1 = lista[:5]
lista_1

In [ ]:
lista_2 = lista[5:10]
lista_2

In [ ]:
lista_3 = lista[10:]
lista_3

### Ejercicio 2
- Insertar las vocales faltantes a la lista de caracteres.

In [ ]:
lista_1.extend(["i", "o", "u"])
lista_1

### Ejercicio 3
- Eliminar los caracteres que no son vocales de la lista de caracteres.

In [ ]:
lista_1.remove("b")
lista_1.remove("c")
lista_1.remove("d")
lista_1

### Ejercico 4
- De la lista inicial (**lista**) reemplazar los elementos boleanos por 0 y 1 respectivamente.

In [ ]:
lista[-1] = 1
lista[-2] = 0
lista

### Ejercicio 5
- Aplicar el metodo **`.reverse()`** a la lista de números.

In [ ]:
lista_2.reverse()
lista_2

### Ejercicio 6
- Aplicar el método **`.sort()`** a la lista de números.

In [ ]:
lista_2.sort()
lista_2

### Ejercicio 7
- Une las 3 listas para formar la lista inicial otra vez.

In [ ]:
lista_1 + lista_2 + lista_3

### Ejercicio 8
- Dada la siguiente lista de empresas:
    1. Ordenar cada lista dentro de la lista de empresas en orden alfabetico.
    2. Obtener las empresas: Audi, Avianca y KLM, mediante sus índices y crear una nueva lista con esos elementos.

In [8]:
empresas = [["Cocacola", "Pepsi"],
            ["FB", "TW", "IG"],
            ["Ferrari", "Audi", "Ford", "Nissan"],
            ["KLM", "AA", "Iberia", "AE", "Avianca"]]

empresas

[['Cocacola', 'Pepsi'],
 ['FB', 'TW', 'IG'],
 ['Ferrari', 'Audi', 'Ford', 'Nissan'],
 ['KLM', 'AA', 'Iberia', 'AE', 'Avianca']]

In [11]:
empresas[:3].sort()
print(empresas)

[['Cocacola', 'Pepsi'], ['FB', 'TW', 'IG'], ['Ferrari', 'Audi', 'Ford', 'Nissan'], ['KLM', 'AA', 'Iberia', 'AE', 'Avianca']]

In [12]:
empresas

[['Cocacola', 'Pepsi'],
 ['FB', 'TW', 'IG'],
 ['Ferrari', 'Audi', 'Ford', 'Nissan'],
 ['KLM', 'AA', 'Iberia', 'AE', 'Avianca']]

In [6]:
empresas[2]

['Ferrari', 'Audi', 'Ford', 'Nissan']

In [3]:
empresas[0].sort()
empresas[1].sort()
empresas[2].sort()
empresas[3].sort()
empresas

[['Cocacola', 'Pepsi'],
 ['FB', 'IG', 'TW'],
 ['Audi', 'Ferrari', 'Ford', 'Nissan'],
 ['AA', 'AE', 'Avianca', 'Iberia', 'KLM']]

In [13]:
for l in empresas:
    l.sort()

empresas

[['Cocacola', 'Pepsi'],
 ['FB', 'IG', 'TW'],
 ['Audi', 'Ferrari', 'Ford', 'Nissan'],
 ['AA', 'AE', 'Avianca', 'Iberia', 'KLM']]

In [14]:
nueva_lista = [empresas[2][0], empresas[3][2], empresas[3][4]]
nueva_lista

['Audi', 'Avianca', 'KLM']

In [15]:
nueva_lista = empresas[2][0] + "," + empresas[3][2] + "," + empresas[3][4]
print(nueva_lista)

Audi,Avianca,KLM

In [16]:
type(nueva_lista)

str

In [18]:
nueva_lista = []
for l1 in empresas:
    for e in l1:
        if e == 'Audi' or e == 'Avianca' or e == 'KLM':
            nueva_lista.append(e)
        else:
            pass

nueva_lista

['Audi', 'Avianca', 'KLM']

In [20]:
nueva_lista = []

for i in range(len(empresas)):
    for e in range(len(empresas[i])):
        if empresas[i][e] == 'Audi' or empresas[i][e] == 'Avianca' or empresas[i][e] == 'KLM':
            print(f'{empresas[i][e]} está en los índices {i},{e}')
            nueva_lista.append(empresas[i][e])
        else:
            pass
nueva_lista

Audi está en los índices 2,0
Avianca está en los índices 3,2
KLM está en los índices 3,4

['Audi', 'Avianca', 'KLM']