### Libraries

In [1]:
#data cleaning & transform
import pandas as pd
import numpy as np
import datetime as datetime


#database creation & conection
from sqlalchemy import create_engine
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Integer, String, Date, Float, Enum, ForeignKey
from sqlalchemy_utils import database_exists, create_database, drop_database
from sqlalchemy.orm import Session
from sqlalchemy.orm import sessionmaker

#other
from tqdm.notebook import tqdm
import warnings
pd.set_option('display.max_columns', None)
warnings.filterwarnings('ignore')

### Load data

In [2]:
data = pd.read_csv('../data/FIFA23_official_data.csv')
data.head()

,ID,Name,Age,Photo,Nationality,Flag,Overall,Potential,Club,Club Logo,Value,Wage,Special,Preferred Foot,International Reputation,Weak Foot,Skill Moves,Work Rate,Body Type,Real Face,Position,Joined,Loaned From,Contract Valid Until,Height,Weight,Release Clause,Kit Number,Best Overall Rating
0,209658,L. Goretzka,27,https://cdn.sofifa.net/players/209/658/23_60.png,Germany,https://cdn.sofifa.net/flags/de.png,87,88,FC Bayern München,https://cdn.sofifa.net/teams/21/30.png,€91M,€115K,2312,Right,4.0,4.0,3.0,High/ Medium,Unique,Yes,"<span class=""pos pos28"">SUB","Jul 1, 2018",NaN,2026,189cm,82kg,€157M,8.0,NaN
1,212198,Bruno Fernandes,27,https://cdn.sofifa.net/players/212/198/23_60.png,Portugal,https://cdn.sofifa.net/flags/pt.png,86,87,Manchester United,https://cdn.sofifa.net/teams/11/30.png,€78.5M,€190K,2305,Right,3.0,3.0,4.0,High/ High,Unique,Yes,"<span class=""pos pos15"">LCM","Jan 30, 2020",NaN,2026,179cm,69kg,€155M,8.0,NaN
2,224334,M. Acuña,30,https://cdn.sofifa.net/players/224/334/23_60.png,Argentina,https://cdn.sofifa.net/flags/ar.png,85,85,Sevilla FC,https://cdn.sofifa.net/teams/481/30.png,€46.5M,€46K,2303,Left,2.0,3.0,3.0,High/ High,Stocky (170-185),No,"<span class=""pos pos7"">LB","Sep 14, 2020",NaN,2024,172cm,69kg,€97.7M,19.0,NaN
3,192985,K. De Bruyne,31,https://cdn.sofifa.net/players/192/985/23_60.png,Belgium,https://cdn.sofifa.net/flags/be.png,91,91,Manchester City,https://cdn.sofifa.net/teams/10/30.png,€107.5M,€350K,2303,Right,4.0,5.0,4.0,High/ High,Unique,Yes,"<span class=""pos pos13"">RCM","Aug 30, 2015",NaN,2025,181cm,70kg,€198.9M,17.0,NaN
4,224232,N. Barella,25,https://cdn.sofifa.net/players/224/232/23_60.png,Italy,https://cdn.sofifa.net/flags/it.png,86,89,Inter,https://cdn.sofifa.net/teams/44/30.png,€89.5M,€110K,2296,Right,3.0,3.0,3.0,High/ High,Normal (170-),Yes,"<span class=""pos pos13"">RCM","Sep 1, 2020",NaN,2026,172cm,68kg,€154.4M,23.0,NaN

In [3]:
df = pd.read_csv('../data/players_fifa23.csv')

df.head()

,ID,Name,FullName,Age,Height,Weight,PhotoUrl,Nationality,Overall,Potential,Growth,TotalStats,BaseStats,Positions,BestPosition,Club,ValueEUR,WageEUR,ReleaseClause,ClubPosition,ContractUntil,ClubNumber,ClubJoined,OnLoad,NationalTeam,NationalPosition,NationalNumber,PreferredFoot,IntReputation,WeakFoot,SkillMoves,AttackingWorkRate,DefensiveWorkRate,PaceTotal,ShootingTotal,PassingTotal,DribblingTotal,DefendingTotal,PhysicalityTotal,Crossing,Finishing,HeadingAccuracy,ShortPassing,Volleys,Dribbling,Curve,FKAccuracy,LongPassing,BallControl,Acceleration,SprintSpeed,Agility,Reactions,Balance,ShotPower,Jumping,Stamina,Strength,LongShots,Aggression,Interceptions,Positioning,Vision,Penalties,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes,STRating,LWRating,LFRating,CFRating,RFRating,RWRating,CAMRating,LMRating,CMRating,RMRating,LWBRating,CDMRating,RWBRating,LBRating,CBRating,RBRating,GKRating
0,158023,L. Messi,Lionel Messi,35,169,67,https://cdn.sofifa.net/players/158/023/23_60.png,Argentina,91,91,0,2190,452,RW,CAM,Paris Saint-Germain,54000000,195000,99900000,RW,2023.0,30.0,2021,False,Argentina,RW,10.0,Left,5,4,4,Low,Low,81,89,90,94,34,64,84,90,70,91,88,95,93,93,90,93,87,76,91,92,95,86,68,70,68,91,44,40,93,94,75,96,20,35,24,6,11,15,14,8,90,90,91,91,91,90,91,91,88,91,67,66,67,62,53,62,22
1,165153,K. Benzema,Karim Benzema,34,185,81,https://cdn.sofifa.net/players/165/153/23_60.png,France,91,91,0,2147,455,"CF,ST",CF,Real Madrid CF,64000000,450000,131199999,CF,2023.0,9.0,2009,False,France,ST,19.0,Right,4,4,4,Medium,Medium,80,88,83,87,39,78,75,92,90,89,88,87,82,73,76,91,79,80,78,92,72,87,79,82,82,80,63,39,92,89,84,90,43,24,18,13,11,5,5,7,91,87,89,89,89,87,91,89,84,89,67,67,67,63,58,63,21
2,188545,R. Lewandowski,Robert Lewandowski,33,185,81,https://cdn.sofifa.net/players/188/545/23_60.png,Poland,91,91,0,2205,458,ST,ST,FC Barcelona,84000000,420000,172200000,ST,2025.0,9.0,2022,False,Poland,ST,9.0,Right,5,4,4,High,Medium,75,91,79,86,44,83,71,94,91,84,89,85,79,85,70,89,76,75,77,93,82,91,85,76,87,84,81,49,94,81,90,88,35,42,19,15,6,12,8,10,91,85,88,88,88,85,88,86,83,86,67,69,67,64,63,64,22
3,192985,K. De Bruyne,Kevin De Bruyne,31,181,70,https://cdn.sofifa.net/players/192/985/23_60.png,Belgium,91,91,0,2303,483,"CM,CAM",CM,Manchester City,107500000,350000,198900000,CM,2025.0,17.0,2015,False,Belgium,RF,7.0,Right,4,5,4,High,High,74,88,93,87,64,77,94,85,55,93,83,88,89,83,93,90,76,73,76,91,78,92,63,88,74,91,75,66,88,94,83,89,68,65,53,15,13,5,10,13,86,88,87,87,87,88,91,91,91,91,82,82,82,78,72,78,24
4,231747,K. Mbappé,Kylian Mbappé,23,182,73,https://cdn.sofifa.net/players/231/747/23_60.png,France,91,95,4,2177,470,"ST,LW",ST,Paris Saint-Germain,190500000,230000,366700000,ST,2024.0,7.0,2018,False,France,ST,10.0,Right,4,4,5,High,Low,97,89,80,92,36,76,78,93,72,85,83,93,80,69,71,91,97,97,93,93,81,88,77,87,76,82,64,38,92,83,80,88,26,34,32,13,5,7,11,6,92,90,90,90,90,90,92,92,84,92,70,66,70,66,57,66,21

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18539 entries, 0 to 18538
Data columns (total 90 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   ID                 18539 non-null  int64
 1   Name               18539 non-null  object
 2   FullName           18539 non-null  object
 3   Age                18539 non-null  int64
 4   Height             18539 non-null  int64
 5   Weight             18539 non-null  int64
 6   PhotoUrl           18539 non-null  object
 7   Nationality        18539 non-null  object
 8   Overall            18539 non-null  int64
 9   Potential          18539 non-null  int64
 10  Growth             18539 non-null  int64
 11  TotalStats         18539 non-null  int64
 12  BaseStats          18539 non-null  int64
 13  Positions          18539 non-null  object
 14  BestPosition       18539 non-null  object
 15  Club               18539 non-null  object
 16  ValueEUR           18539 non-null  int64
 17  WageEUR            18539 non-null  int64
 18  ReleaseClause      18539 non-null  int64
 19  ClubPosition       18447 non-null  object
 20  ContractUntil      18447 non-null  float64
 21  ClubNumber         18447 non-null  float64
 22  ClubJoined         18539 non-null  int64
 23  OnLoad             18539 non-null  bool
 24  NationalTeam       18539 non-null  object
 25  NationalPosition   817 non-null    object
 26  NationalNumber     817 non-null    float64
 27  PreferredFoot      18539 non-null  object
 28  IntReputation      18539 non-null  int64
 29  WeakFoot           18539 non-null  int64
 30  SkillMoves         18539 non-null  int64
 31  AttackingWorkRate  18539 non-null  object
 32  DefensiveWorkRate  18539 non-null  object
 33  PaceTotal          18539 non-null  int64
 34  ShootingTotal      18539 non-null  int64
 35  PassingTotal       18539 non-null  int64
 36  DribblingTotal     18539 non-null  int64
 37  DefendingTotal     18539 non-null  int64
 38  PhysicalityTotal   18539 non-null  int64
 39  Crossing           18539 non-null  int64
 40  Finishing          18539 non-null  int64
 41  HeadingAccuracy    18539 non-null  int64
 42  ShortPassing       18539 non-null  int64
 43  Volleys            18539 non-null  int64
 44  Dribbling          18539 non-null  int64
 45  Curve              18539 non-null  int64
 46  FKAccuracy         18539 non-null  int64
 47  LongPassing        18539 non-null  int64
 48  BallControl        18539 non-null  int64
 49  Acceleration       18539 non-null  int64
 50  SprintSpeed        18539 non-null  int64
 51  Agility            18539 non-null  int64
 52  Reactions          18539 non-null  int64
 53  Balance            18539 non-null  int64
 54  ShotPower          18539 non-null  int64
 55  Jumping            18539 non-null  int64
 56  Stamina            18539 non-null  int64
 57  Strength           18539 non-null  int64
 58  LongShots          18539 non-null  int64
 59  Aggression         18539 non-null  int64
 60  Interceptions      18539 non-null  int64
 61  Positioning        18539 non-null  int64
 62  Vision             18539 non-null  int64
 63  Penalties          18539 non-null  int64
 64  Composure          18539 non-null  int64
 65  Marking            18539 non-null  int64
 66  StandingTackle     18539 non-null  int64
 67  SlidingTackle      18539 non-null  int64
 68  GKDiving           18539 non-null  int64
 69  GKHandling         18539 non-null  int64
 70  GKKicking          18539 non-null  int64
 71  GKPositioning      18539 non-null  int64
 72  GKReflexes         18539 non-null  int64
 73  STRating           18539 non-null  int64
 74  LWRating           18539 non-null  int64
 75  LFRating           18539 non-null  int64
 76  CFRating           18539 non-null  int64
 77  RFRating           18539 non-null  int64
 78  RWRating           18539 non-null  int64
 79  CAMRating          18539 non-null  int64
 80  LMRating           18539 non-null  int64
 81  CMRating           18539 non-null  int64
 82  RMRating           18539 non-null  int64
 83  LWBRating          18539 non-null  int64
 84  CDMRating          18539 non-null  int64
 85  RWBRating          18539 non-null  int64
 86  LBRating           18539 non-null  int64
 87  CBRating           18539 non-null  int64
 88  RBRating           18539 non-null  int64
 89  GKRating           18539 non-null  int64
dtypes: bool(1), float64(3), int64(73), object(13)
memory usage: 12.6+ MB

## Create DB Tables

### Countrys table

In [5]:
countrys = df.Nationality.unique()
countrys_dict = {}
ids = 1
for c in countrys:
    countrys_dict[c] = ids
    ids +=1
countrys_table = pd.DataFrame(countrys_dict,index=[0]).T.reset_index()
countrys_table.columns = ['Country', 'Id']
df_countrys = countrys_table[['Id', 'Country']]
df_countrys.head()

   Id    Country
0   1  Argentina
1   2     France
2   3     Poland
3   4    Belgium
4   5      Egypt

In [6]:
data_countrys = data.groupby(['Nationality','Flag']).count().reset_index()[['Nationality','Flag']]

In [7]:
df_countrys = pd.merge(left=df_countrys, right=data_countrys, how='left', left_on=df_countrys.Country, right_on=data_countrys.Nationality)

In [8]:
df_countrys.drop(['key_0','Nationality'], axis=1, inplace=True)

In [9]:
df_countrys.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 160 entries, 0 to 159
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Id       160 non-null    int64
 1   Country  160 non-null    object
 2   Flag     153 non-null    object
dtypes: int64(1), object(2)
memory usage: 5.0+ KB

In [10]:
df_countrys[df_countrys.Flag.isna() == True ]

      Id              Country Flag
117  118                 Fiji  NaN
133  134              Bermuda  NaN
134  135  São Tomé e Príncipe  NaN
142  143            Mauritius  NaN
145  146                 Chad  NaN
149  150                 Guam  NaN
159  160             Barbados  NaN

In [11]:
lose_flags = {'Fiji':'https://www.mrflag.com/wp-content/uploads/2018/10/Fiji-Flag.png',
             'Bermuda':'https://www.mrflag.com/wp-content/uploads/2018/10/Bermuda-Flag.png',
             'São Tomé e Príncipe': 'https://www.mrflag.com/wp-content/uploads/2018/10/Sao-Tome-and-Principe-Flag.png',
             'Mauritius':'https://www.mrflag.com/wp-content/uploads/2018/10/Mauritius-Flag.png',
             'Chad':'https://www.mrflag.com/wp-content/uploads/2018/10/Chad-Flag.png',
             'Guam': 'https://www.mrflag.com/wp-content/uploads/2018/10/Guam-Flag.png',
             'Barbados': 'https://www.mrflag.com/wp-content/uploads/2018/10/Barbados-Flag.png'}

In [12]:
for i,f in enumerate(df_countrys.Country):
    if f in lose_flags.keys():
        df_countrys.Flag[i] = lose_flags[f]

In [13]:
df_countrys.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 160 entries, 0 to 159
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Id       160 non-null    int64
 1   Country  160 non-null    object
 2   Flag     160 non-null    object
dtypes: int64(1), object(2)
memory usage: 9.1+ KB

### Clubs table

In [47]:
clubs = df.Club.unique()
club_dict = {}
ids = 1
for c in clubs:
    club_dict[c] = ids
    ids +=1
clubs_table = pd.DataFrame(club_dict,index=[0]).T.reset_index()
clubs_table.columns = ['Club', 'Id']
df_clubs = clubs_table[['Id', 'Club']]
df_clubs.head()

   Id                 Club
0   1  Paris Saint-Germain
1   2       Real Madrid CF
2   3         FC Barcelona
3   4      Manchester City
4   5            Liverpool

In [48]:
data_clubs = data.groupby(['Club','Club Logo']).count().reset_index()[['Club','Club Logo']]

In [49]:
df_clubs = pd.merge(left=df_clubs, right=data_clubs, how='left', left_on=df_clubs.Club, right_on=data_clubs.Club)

In [50]:
df_clubs.drop(['key_0','Club_y'], axis=1, inplace=True)

In [51]:
df_clubs.columns = ['Id', 'Club', 'Logo']
df_clubs.head()

   Id                 Club                                     Logo
0   1  Paris Saint-Germain   https://cdn.sofifa.net/teams/73/30.png
1   2       Real Madrid CF  https://cdn.sofifa.net/teams/243/30.png
2   3         FC Barcelona  https://cdn.sofifa.net/teams/241/30.png
3   4      Manchester City   https://cdn.sofifa.net/teams/10/30.png
4   5            Liverpool    https://cdn.sofifa.net/teams/9/30.png

### Players tables

In [53]:
players = df[['ID','FullName', 'Age', 'Height', 'Weight', 'PhotoUrl',
       'Nationality', 'Overall', 'Potential', 'Growth', 'TotalStats',
       'BaseStats', 'Positions', 'BestPosition', 'Club', 'ValueEUR', 'WageEUR',
       'ReleaseClause', 'ClubPosition', 'ContractUntil', 'ClubNumber',
       'ClubJoined', 'OnLoad', 'NationalTeam', 'NationalPosition',
       'NationalNumber', 'PreferredFoot', 'IntReputation', 'WeakFoot',
       'SkillMoves', 'AttackingWorkRate', 'DefensiveWorkRate', 'PaceTotal',
       'ShootingTotal', 'PassingTotal', 'DribblingTotal', 'DefendingTotal',
       'PhysicalityTotal', 'Crossing', 'Finishing', 'HeadingAccuracy',
       'ShortPassing', 'Volleys', 'Dribbling', 'Curve', 'FKAccuracy',
       'LongPassing', 'BallControl', 'Acceleration', 'SprintSpeed', 'Agility',
       'Reactions', 'Balance', 'ShotPower', 'Jumping', 'Stamina', 'Strength',
       'LongShots', 'Aggression', 'Interceptions', 'Positioning', 'Vision',
       'Penalties', 'Composure', 'Marking', 'StandingTackle', 'SlidingTackle',
       'GKDiving', 'GKHandling', 'GKKicking', 'GKPositioning', 'GKReflexes',
       'STRating', 'LWRating', 'LFRating', 'CFRating', 'RFRating', 'RWRating',
       'CAMRating', 'LMRating', 'CMRating', 'RMRating', 'LWBRating',
       'CDMRating', 'RWBRating', 'LBRating', 'CBRating', 'RBRating',
       'GKRating']]

In [54]:
players.columns = [i.split('Rating')[0] if 'Rating' in i else i for i in players.columns]

In [55]:
best_rating = []

for i,br in enumerate(players.BestPosition):
    for c in players.columns:
        if len(br)== 2 and br == c: 
            best_rating.append(players[c][i])
        elif len(br)==3 and br == c:
            best_rating.append(players[c][i])
        else:
            pass

In [56]:
players['BestRating']= best_rating

In [57]:
players.Club = players.Club.apply(lambda x: club_dict[x])

In [59]:
players.Club.unique()

array([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,  13,
        14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,  26,
        27,  28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,  39,
        40,  41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  51,  52,
        53,  54,  55,  56,  57,  58,  59,  60,  61,  62,  63,  64,  65,
        66,  67,  68,  69,  70,  71,  72,  73,  74,  75,  76,  77,  78,
        79,  80,  81,  82,  83,  84,  85,  86,  87,  88,  89,  90,  91,
        92,  93,  94,  95,  96,  97,  98,  99, 100, 101, 102, 103, 104,
       105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117,
       118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130,
       131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143,
       144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156,
       157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169,
       170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182,
       183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195,
       196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207, 208,
       209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220, 221,
       222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233, 234,
       235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246, 247,
       248, 249, 250, 251, 252, 253, 254, 255, 256, 257, 258, 259, 260,
       261, 262, 263, 264, 265, 266, 267, 268, 269, 270, 271, 272, 273,
       274, 275, 276, 277, 278, 279, 280, 281, 282, 283, 284, 285, 286,
       287, 288, 289, 290, 291, 292, 293, 294, 295, 296, 297, 298, 299,
       300, 301, 302, 303, 304, 305, 306, 307, 308, 309, 310, 311, 312,
       313, 314, 315, 316, 317, 318, 319, 320, 321, 322, 323, 324, 325,
       326, 327, 328, 329, 330, 331, 332, 333, 334, 335, 336, 337, 338,
       339, 340, 341, 342, 343, 344, 345, 346, 347, 348, 349, 350, 351,
       352, 353, 354, 355, 356, 357, 358, 359, 360, 361, 362, 363, 364,
       365, 366, 367, 368, 369, 370, 371, 372, 373, 374, 375, 376, 377,
       378, 379, 380, 381, 382, 383, 384, 385, 386, 387, 388, 389, 390,
       391, 392, 393, 394, 395, 396, 397, 398, 399, 400, 401, 402, 403,
       404, 405, 406, 407, 408, 409, 410, 411, 412, 413, 414, 415, 416,
       417, 418, 419, 420, 421, 422, 423, 424, 425, 426, 427, 428, 429,
       430, 431, 432, 433, 434, 435, 436, 437, 438, 439, 440, 441, 442,
       443, 444, 445, 446, 447, 448, 449, 450, 451, 452, 453, 454, 455,
       456, 457, 458, 459, 460, 461, 462, 463, 464, 465, 466, 467, 468,
       469, 470, 471, 472, 473, 474, 475, 476, 477, 478, 479, 480, 481,
       482, 483, 484, 485, 486, 487, 488, 489, 490, 491, 492, 493, 494,
       495, 496, 497, 498, 499, 500, 501, 502, 503, 504, 505, 506, 507,
       508, 509, 510, 511, 512, 513, 514, 515, 516, 517, 518, 519, 520,
       521, 522, 523, 524, 525, 526, 527, 528, 529, 530, 531, 532, 533,
       534, 535, 536, 537, 538, 539, 540, 541, 542, 543, 544, 545, 546,
       547, 548, 549, 550, 551, 552, 553, 554, 555, 556, 557, 558, 559,
       560, 561, 562, 563, 564, 565, 566, 567, 568, 569, 570, 571, 572,
       573, 574, 575, 576, 577, 578, 579, 580, 581, 582, 583, 584, 585,
       586, 587, 588, 589, 590, 591, 592, 593, 594, 595, 596, 597, 598,
       599, 600, 601, 602, 603, 604, 605, 606, 607, 608, 609, 610, 611,
       612, 613, 614, 615, 616, 617, 618, 619, 620, 621, 622, 623, 624,
       625, 626, 627, 628, 629, 630, 631, 632, 633, 634, 635, 636, 637,
       638, 639, 640, 641, 642, 643, 644, 645, 646, 647, 648, 649, 650,
       651, 652, 653, 654, 655, 656, 657, 658, 659, 660, 661, 662, 663,
       664, 665, 666, 667, 668, 669, 670, 671, 672, 673, 674, 675, 676,
       677, 678, 679], dtype=int64)

In [60]:
players.Nationality = players.Nationality.apply(lambda x: countrys_dict[x])

In [61]:
players.ContractUntil = players.ContractUntil.fillna(2023.0).apply(lambda x: int(x))

In [62]:
players.NationalNumber = players.NationalNumber.fillna(0.0).apply(lambda x: int(x))
players.ClubNumber = players.ClubNumber.fillna(0.0).apply(lambda x: int(x))
players.NationalPosition = players.ClubPosition.fillna('No played')

In [63]:
players.dropna(inplace=True)

In [64]:
df_players = players[['ID', 'FullName', 'Age', 'Height', 'Weight', 'Nationality','Club', 'ClubNumber','ClubPosition',
       'ValueEUR', 'WageEUR','ReleaseClause',  'ContractUntil','BestPosition',
       'ClubJoined', 'OnLoad', 'NationalTeam', 'NationalPosition',
       'NationalNumber', 'PreferredFoot', 'IntReputation', 'WeakFoot', 'PhotoUrl']]

In [65]:
stats = players[['ID','BestRating',
       'Overall', 'Potential', 'Growth', 'TotalStats', 'BaseStats',
       'SkillMoves', 'AttackingWorkRate', 'DefensiveWorkRate', 'PaceTotal',
       'ShootingTotal', 'PassingTotal', 'DribblingTotal', 'DefendingTotal',
       'PhysicalityTotal', 'Crossing', 'Finishing', 'HeadingAccuracy',
       'ShortPassing', 'Volleys', 'Dribbling', 'Curve', 'FKAccuracy',
       'LongPassing', 'BallControl', 'Acceleration', 'SprintSpeed', 'Agility',
       'Reactions', 'Balance', 'ShotPower', 'Jumping', 'Stamina', 'Strength',
       'LongShots', 'Aggression', 'Interceptions', 'Positioning', 'Vision',
       'Penalties', 'Composure', 'Marking', 'StandingTackle', 'SlidingTackle',
       'GKDiving', 'GKHandling', 'GKKicking', 'GKPositioning', 'GKReflexes'
       ]]

In [66]:
stats['player_id'] = players.ID

In [67]:
stats = stats[['ID','player_id','BestRating',
       'Overall', 'Potential', 'Growth', 'TotalStats', 'BaseStats',
       'SkillMoves', 'AttackingWorkRate', 'DefensiveWorkRate', 'PaceTotal',
       'ShootingTotal', 'PassingTotal', 'DribblingTotal', 'DefendingTotal',
       'PhysicalityTotal', 'Crossing', 'Finishing', 'HeadingAccuracy',
       'ShortPassing', 'Volleys', 'Dribbling', 'Curve', 'FKAccuracy',
       'LongPassing', 'BallControl', 'Acceleration', 'SprintSpeed', 'Agility',
       'Reactions', 'Balance', 'ShotPower', 'Jumping', 'Stamina', 'Strength',
       'LongShots', 'Aggression', 'Interceptions', 'Positioning', 'Vision',
       'Penalties', 'Composure', 'Marking', 'StandingTackle', 'SlidingTackle',
       'GKDiving', 'GKHandling', 'GKKicking', 'GKPositioning', 'GKReflexes'
       ]]

In [68]:
stats.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 18447 entries, 0 to 18538
Data columns (total 51 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   ID                 18447 non-null  int64
 1   player_id          18447 non-null  int64
 2   BestRating         18447 non-null  int64
 3   Overall            18447 non-null  int64
 4   Potential          18447 non-null  int64
 5   Growth             18447 non-null  int64
 6   TotalStats         18447 non-null  int64
 7   BaseStats          18447 non-null  int64
 8   SkillMoves         18447 non-null  int64
 9   AttackingWorkRate  18447 non-null  object
 10  DefensiveWorkRate  18447 non-null  object
 11  PaceTotal          18447 non-null  int64
 12  ShootingTotal      18447 non-null  int64
 13  PassingTotal       18447 non-null  int64
 14  DribblingTotal     18447 non-null  int64
 15  DefendingTotal     18447 non-null  int64
 16  PhysicalityTotal   18447 non-null  int64
 17  Crossing           18447 non-null  int64
 18  Finishing          18447 non-null  int64
 19  HeadingAccuracy    18447 non-null  int64
 20  ShortPassing       18447 non-null  int64
 21  Volleys            18447 non-null  int64
 22  Dribbling          18447 non-null  int64
 23  Curve              18447 non-null  int64
 24  FKAccuracy         18447 non-null  int64
 25  LongPassing        18447 non-null  int64
 26  BallControl        18447 non-null  int64
 27  Acceleration       18447 non-null  int64
 28  SprintSpeed        18447 non-null  int64
 29  Agility            18447 non-null  int64
 30  Reactions          18447 non-null  int64
 31  Balance            18447 non-null  int64
 32  ShotPower          18447 non-null  int64
 33  Jumping            18447 non-null  int64
 34  Stamina            18447 non-null  int64
 35  Strength           18447 non-null  int64
 36  LongShots          18447 non-null  int64
 37  Aggression         18447 non-null  int64
 38  Interceptions      18447 non-null  int64
 39  Positioning        18447 non-null  int64
 40  Vision             18447 non-null  int64
 41  Penalties          18447 non-null  int64
 42  Composure          18447 non-null  int64
 43  Marking            18447 non-null  int64
 44  StandingTackle     18447 non-null  int64
 45  SlidingTackle      18447 non-null  int64
 46  GKDiving           18447 non-null  int64
 47  GKHandling         18447 non-null  int64
 48  GKKicking          18447 non-null  int64
 49  GKPositioning      18447 non-null  int64
 50  GKReflexes         18447 non-null  int64
dtypes: int64(49), object(2)
memory usage: 7.3+ MB

In [69]:
df_players.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 18447 entries, 0 to 18538
Data columns (total 23 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ID                18447 non-null  int64
 1   FullName          18447 non-null  object
 2   Age               18447 non-null  int64
 3   Height            18447 non-null  int64
 4   Weight            18447 non-null  int64
 5   Nationality       18447 non-null  int64
 6   Club              18447 non-null  int64
 7   ClubNumber        18447 non-null  int64
 8   ClubPosition      18447 non-null  object
 9   ValueEUR          18447 non-null  int64
 10  WageEUR           18447 non-null  int64
 11  ReleaseClause     18447 non-null  int64
 12  ContractUntil     18447 non-null  int64
 13  BestPosition      18447 non-null  object
 14  ClubJoined        18447 non-null  int64
 15  OnLoad            18447 non-null  bool
 16  NationalTeam      18447 non-null  object
 17  NationalPosition  18447 non-null  object
 18  NationalNumber    18447 non-null  int64
 19  PreferredFoot     18447 non-null  object
 20  IntReputation     18447 non-null  int64
 21  WeakFoot          18447 non-null  int64
 22  PhotoUrl          18447 non-null  object
dtypes: bool(1), int64(15), object(7)
memory usage: 3.3+ MB

### Similitude Table

In [34]:
dist = pd.read_csv('../data/players_distance_vr_1.csv')

In [35]:
dist.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 91650 entries, 0 to 91649
Data columns (total 20 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   ID                        91650 non-null  int64
 1   id_player                 91650 non-null  int64
 2   player                    91650 non-null  object
 3   pos                       91650 non-null  object
 4   country                   91650 non-null  object
 5   club                      91410 non-null  object
 6   age                       91650 non-null  int64
 7   overall                   91650 non-null  int64
 8   photo                     91650 non-null  object
 9   club_logo                 91410 non-null  object
 10  id_player_compare         91650 non-null  int64
 11  player_compare            91650 non-null  object
 12  player_compare_pos        91650 non-null  object
 13  country_player_compare    91650 non-null  object
 14  club_player_compare       91423 non-null  object
 15  player_compare_overall    91650 non-null  int64
 16  player_compare_Age        91650 non-null  int64
 17  player_compare_photo      91650 non-null  object
 18  player_compare_club_logo  91423 non-null  object
 19  distance                  91650 non-null  float64
dtypes: float64(1), int64(7), object(12)
memory usage: 14.0+ MB

## Create SQL Database

### Connection to SQL DB

In [36]:
with open('../notebooks//src/sql_settings.txt', 'rb') as f:
    settings = [str(i).split('=') for i in f]

In [37]:
user = settings[0][1].strip().split('\\')[0]
password = settings[1][1].strip().split('\'')[0]

In [38]:
#generamos el motor de conexion
engine = create_engine(f'mysql+pymysql://{user}:{password}@localhost:3306/fifa23_vr_3')

#si la base de datos no exite nos la crea
if not database_exists(engine.url):
    create_database(engine.url)
    
#generamos una plantilla sobre la que vamos a crear nuestras tablas
Base = declarative_base()

### Create Tables Templates

In [39]:
class Country(Base):
    __tablename__ = 'Country'
    ID = Column(Integer,primary_key=True)
    country = Column(String(120))
    flag = Column(String(500))

In [40]:
class Club(Base):
    __tablename__ = 'Club'
    ID = Column(Integer,primary_key=True)
    club = Column(String(120))
    logo = Column(String(500))

In [41]:
class Players(Base):
    __tablename__ = 'Players'
    ID = Column(Integer,primary_key=True)
    full_name = Column(String(120))
    age = Column(Integer)
    height = Column(Integer)
    weight = Column(Integer)
    country_id = Column(Integer,ForeignKey("Country.ID"))
    club_id = Column(Integer,ForeignKey("Club.ID"))
    club_number = Column(Integer)
    club_position = Column(String(12))
    value = Column(Integer)
    wage = Column(Integer)
    release_clause = Column(Integer)
    contract_until = Column(Integer)
    best_position = Column(String(10))
    club_joined = Column(Integer)
    on_load = Column(String(12))
    national_team = Column(String(120))
    national_position = Column(String(12))
    national_number = Column(Integer)
    international_reputation = Column(Integer)
    preferred_foot = Column(String(12))
    weak_foot = Column(Integer)
    photo = Column(String(500))

In [42]:
class Players_Stats(Base):
    __tablename__ = 'Players_Stats'
    
    ID = Column(Integer,primary_key=True)
    player_id = Column(Integer,ForeignKey("Players.ID"))
    best_rating = Column(String(120))
    overall = Column(Integer)
    potential = Column(Integer)
    growth = Column(Integer)
    total_stats = Column(Integer)
    base_stats = Column(Integer)
    skill_moves = Column(Integer)
    attacking_work_rate = Column(String(12))
    defensive_work_rate = Column(String(12))
    pace_total = Column(Integer)
    shooting_total = Column(Integer)
    passing_total = Column(Integer)
    dribbling_total = Column(Integer)
    defending_total = Column(Integer)
    physicality_total = Column(Integer)
    crossing = Column(Integer)
    finishing = Column(Integer)
    heading_accuracy = Column(Integer)
    short_passing = Column(Integer)
    volleys = Column(Integer)
    dribbling = Column(Integer)
    curve = Column(Integer)
    fk_accuracy = Column(Integer)
    long_passing = Column(Integer)
    ball_control = Column(Integer)
    acceleration = Column(Integer)
    sprint_speed = Column(Integer)
    agility = Column(Integer)
    reactions = Column(Integer)
    balance = Column(Integer)
    shot_power = Column(Integer)
    jumping = Column(Integer)
    stamina = Column(Integer)
    strength = Column(Integer)
    long_shots = Column(Integer)
    aggression = Column(Integer)
    interceptions = Column(Integer)
    positioning = Column(Integer)
    vision = Column(Integer)
    penalties = Column(Integer)
    composure = Column(Integer)
    marking = Column(Integer)
    standing_tackle = Column(Integer)
    sliding_tackle = Column(Integer)
    gk_diving = Column(Integer)
    gk_handling = Column(Integer)
    gk_kicking = Column(Integer)
    gk_positioning = Column(Integer)
    gk_reflexes = Column(Integer)

In [43]:
class Players_Similitude(Base):
    __tablename__ = 'Players_Similitude'

    ID = Column(Integer,primary_key=True)
    id_player = Column(Integer,ForeignKey("Players.ID"))
    player = Column(String(120))
    pos = Column(String(12))
    country = Column(String(50))
    club = Column(String(120))
    age = Column(Integer)
    overall = Column(Integer)
    photo = Column(String(500))
    club_logo = Column(String(500))
    id_player_compare = Column(Integer)
    player_compare = Column(String(120))
    player_compare_pos = Column(String(12))
    player_compare_country = Column(String(50))
    player_compare_club = Column(String(120))
    player_compare_overall = Column(Integer)
    player_compare_age = Column(Integer)
    player_compare_photo = Column(String(500))
    player_compare_club_logo = Column(String(500))
    distance = Column(Float)

### Populate Tables

In [44]:
def populate_table(df,table):
    df.dropna(inplace=True)
    df.drop_duplicates(inplace=True)
    for i, val in tqdm(enumerate(df.values)):
        
        if table == 'Club':
            rec = Club (
                ID = val[0],
                club = val[1],
                logo = val[2],
            )
        elif table == 'Country':
            rec = Country (
                ID = val[0],
                country = val[1],
                flag = val[2],
            )
        elif table == 'Players':
            rec = Players (
                ID = val[0],
                full_name = val[1],
                age = val[2],
                height = val[3],
                weight = val[4],
                country_id = val[5],
                club_id = val[6],
                club_number = val[7],
                club_position = val[8],
                value = val[9],
                wage = val[10],
                release_clause = val[11],
                contract_until = val[12],
                best_position = val[13],
                club_joined = val[14],
                on_load = val[15],
                national_team = val[16],
                national_position = val[17],
                national_number = val[18],
                international_reputation = val[20],
                preferred_foot = val[19],
                weak_foot = val[21],
                photo = val[22],
            )
        elif table == 'Players_Stats':
            rec = Players_Stats (
                ID = val[0],
                player_id = val[1],
                best_rating = val[2],
                overall = val[3],
                potential = val[4],
                growth = val[5],
                total_stats = val[6],
                base_stats = val[7],
                skill_moves = val[8],
                attacking_work_rate = val[9],
                defensive_work_rate = val[10],
                pace_total = val[11],
                shooting_total = val[12],
                passing_total = val[13],
                dribbling_total = val[14],
                defending_total = val[15],
                physicality_total = val[16],
                crossing = val[17],
                finishing = val[18],
                heading_accuracy = val[19],
                short_passing = val[20],
                volleys = val[21],
                dribbling = val[22],
                curve = val[23],
                fk_accuracy = val[24],
                long_passing = val[25],
                ball_control = val[26],
                acceleration = val[27],
                sprint_speed = val[28],
                agility = val[29],
                reactions = val[30],
                balance = val[31],
                shot_power = val[32],
                jumping = val[33],
                stamina = val[34],
                strength = val[35],
                long_shots = val[36],
                aggression = val[37],
                interceptions = val[38],
                positioning = val[39],
                vision = val[40],
                penalties = val[41],
                composure = val[42],
                marking = val[43],
                standing_tackle = val[44],
                sliding_tackle = val[45],
                gk_diving = val[46],
                gk_handling = val[47],
                gk_kicking = val[48],
                gk_positioning = val[49],
                gk_reflexes = val[50],
            )
        elif table == 'Players_Similitude':
            rec = Players_Similitude (
                ID = val[0],
                id_player = val[1],
                player = val[2],
                pos = val[3],
                country = val[4],
                club = val[5],
                age = val[6],
                overall = val[7],
                photo = val[8],
                club_logo = val[9],
                id_player_compare = val[10],
                player_compare = val[11],
                player_compare_pos = val[12],
                player_compare_country = val[13],
                player_compare_club = val[14],
                player_compare_overall = val[15],
                player_compare_age = val[16],
                player_compare_photo = val[17],
                player_compare_club_logo = val[18],
                distance = val[19],           
            )
        else:
            raise KeyError(f'No exite la {table}')
            
        session.add(rec)
        
    session.commit()

**Create engine conection**

In [45]:
tabs = [(df_clubs, 'Club'),(df_countrys, 'Country'),(df_players, 'Players'),(stats, 'Players_Stats'), (dist, 'Players_Similitude')]

for t in tabs:
    while 1:
        try:
            Base.metadata.create_all(engine)
            Session = sessionmaker(bind=engine)
            session = Session()
            session.execute('SET FOREIGN_KEY_CHECKS=0')
    
            populate_table(t[0], t[1])
            break
        except:
            print(f'Fallo al intentar rellenar la tabla {t[1]}')

0it [00:00, ?it/s]

0it [00:00, ?it/s]

0it [00:00, ?it/s]

0it [00:00, ?it/s]

0it [00:00, ?it/s]

Fallo al intentar rellenar la tabla Players_Similitude

0it [00:00, ?it/s]

Fallo al intentar rellenar la tabla Players_Similitude

0it [00:00, ?it/s]

Fallo al intentar rellenar la tabla Players_Similitude

0it [00:00, ?it/s]

Fallo al intentar rellenar la tabla Players_Similitude

0it [00:00, ?it/s]

Fallo al intentar rellenar la tabla Players_Similitude

0it [00:00, ?it/s]

Fallo al intentar rellenar la tabla Players_Similitude

0it [00:00, ?it/s]

Fallo al intentar rellenar la tabla Players_Similitude

0it [00:00, ?it/s]

Fallo al intentar rellenar la tabla Players_Similitude

0it [00:00, ?it/s]

Fallo al intentar rellenar la tabla Players_Similitude

0it [00:00, ?it/s]

Fallo al intentar rellenar la tabla Players_Similitude

0it [00:00, ?it/s]

Fallo al intentar rellenar la tabla Players_Similitude

0it [00:00, ?it/s]

Fallo al intentar rellenar la tabla Players_Similitude

0it [00:00, ?it/s]

Fallo al intentar rellenar la tabla Players_Similitude

0it [00:00, ?it/s]

Fallo al intentar rellenar la tabla Players_Similitude

0it [00:00, ?it/s]

Fallo al intentar rellenar la tabla Players_Similitude

0it [00:00, ?it/s]

Fallo al intentar rellenar la tabla Players_Similitude

0it [00:00, ?it/s]

Fallo al intentar rellenar la tabla Players_Similitude

0it [00:00, ?it/s]

Fallo al intentar rellenar la tabla Players_Similitude

0it [00:00, ?it/s]

Fallo al intentar rellenar la tabla Players_Similitude

0it [00:00, ?it/s]

Fallo al intentar rellenar la tabla Players_Similitude

0it [00:00, ?it/s]

Fallo al intentar rellenar la tabla Players_Similitude

0it [00:00, ?it/s]

Fallo al intentar rellenar la tabla Players_Similitude

0it [00:00, ?it/s]

Fallo al intentar rellenar la tabla Players_Similitude

0it [00:00, ?it/s]

Fallo al intentar rellenar la tabla Players_Similitude

0it [00:00, ?it/s]

Fallo al intentar rellenar la tabla Players_Similitude

0it [00:00, ?it/s]

Fallo al intentar rellenar la tabla Players_Similitude

0it [00:00, ?it/s]

Fallo al intentar rellenar la tabla Players_Similitude

0it [00:00, ?it/s]

Fallo al intentar rellenar la tabla Players_Similitude

0it [00:00, ?it/s]

Fallo al intentar rellenar la tabla Players_Similitude

0it [00:00, ?it/s]

Fallo al intentar rellenar la tabla Players_Similitude

0it [00:00, ?it/s]

Fallo al intentar rellenar la tabla Players_Similitude

0it [00:00, ?it/s]

Fallo al intentar rellenar la tabla Players_Similitude

0it [00:00, ?it/s]