## Ejercicio pandas 2

In [ ]:
import numpy as np
import pandas as pd

### Ejercicio 0:
- Carga ambos archivos **`titanic_1.csv`** y **`titanic_2.csv`** y guardalos en **`df1`** y **`df2`** respectivamente:

In [ ]:
df1 = pd.read_csv("data/titanic_1.csv")
df2 = pd.read_csv("data/titanic_2.csv")

### Ejercicio 1:
- Mostrar las estadisticas de cada uno de los DataFrames.

In [ ]:
df1.describe()

In [ ]:
df2.describe()

### Ejercicio 2:
- Unir los DataFrames para obtener solo uno.

In [ ]:
df = pd.merge(left = df1, right = df2, left_on = "PassengerId", right_on = "PassengerId", how = "inner")

df.head(3)

### Ejercicio 3:
- Imprimir las últimas 5 filas de las columnas de nombre y edad

In [ ]:
df[["Name", "Age"]].head(5)

### Ejercicio 4:
- Imprimir las primeras 10 filas de las instancias que en sexo sean igual a femenino.

In [ ]:
df[df["Sex"] == "female"].head(10)

### Ejercicio 5:
- Imprimir las instancias que en la columna **`Fare`** sean menor a 33 y en la columna **`Pclass`** igual a 2.

In [ ]:
df_ej5 = df[(df["Fare"] < 33) & (df["Pclass"] == 2)]

df_ej5.head(10)

### Ejercicio 6:
- Del resultado anterior obten el número de hombres y el número de mujeres.

In [ ]:
df_ej5["Sex"].value_counts(dropna = False)

In [ ]:
df_ej5["Sex"].value_counts(dropna = False, normalize = True)

### Ejercicio 7:
- Obten el costo total de los tickets de hombres y el costo total de los tickets de mujeres.

In [ ]:
df[df["Sex"] == "female"]["Fare"].sum()

In [ ]:
df[df["Sex"] == "male"]["Fare"].sum()

In [ ]:
df.groupby("Sex")["Fare"].sum()

### Ejercicio 8:
- Obten el costo total de los tickets por cada clase (1, 2 y 3) y el número de pasajeros de cada clase.

In [ ]:
# Para la clase 1

print("Total Ticket:", df[df["Pclass"] == 1]["Fare"].sum())
print("Total Pasajeros:", df[df["Pclass"] == 1].shape[0])

In [ ]:
# Para la clase 2

print("Total Ticket:", df[df["Pclass"] == 2]["Fare"].sum())
print("Total Pasajeros:", df[df["Pclass"] == 2].shape[0])

In [ ]:
# Para la clase 3

print("Total Ticket:", df[df["Pclass"] == 3]["Fare"].sum())
print("Total Pasajeros:", df[df["Pclass"] == 3].shape[0])

In [ ]:
df.groupby("Pclass").agg({"Fare" : ["sum", "size"]})

### Ejercicio 9:
- Crear una columna con el apellido de cada pasajero y agregala al DataFrame.

In [ ]:
df["Surname"] = df["Name"].apply(lambda x : x.split(",")[0])

df.head(3)

### Ejercicio 10:
- Encuentra si se repiten apellidos en la columna que se creo en el ejercicio anterior. (Usa .value_counts())

In [ ]:
df["Surname"].value_counts()

### Ejercicio 11:
- Encuentra los apellidos que se repiten en la columna recien creada. Es decir, solo muestra los apellidos que aparecen más de 1 vez.

In [ ]:
df[df["Surname"].duplicated()]["Surname"].unique()

### Ejercicio 12:
- Imprime los primeros 10 pasajeros que tengan un **`PassengerID`** multiplo de 3.

In [ ]:
df.iloc[range(2, 31, 3), :]

### Ejercicio 13:
- ¿Cuales son los apellidos de los pasajeros que son mujeres y menores de 20 años?

In [ ]:
apellidos_mujeres = df[(df["Sex"] == "female") & (df["Age"] < 20)]["Surname"].to_list()

print(apellidos_mujeres)

### Ejercicio 14:
- ¿Cuales son los apellidos de los pasajeros que son hombres y mayor de 45 años?

In [ ]:
apellidos_hombres = df[(df["Sex"] == "male") & (df["Age"] > 45)]["Surname"].to_list()

print(apellidos_hombres)

### Ejercicio 15:
- Compara si coinciden los apellidos generados en los ejercicios anteriores.

In [ ]:
apellidos_hombres_set = set(apellidos_hombres)

apellidos_mujeres_set = set(apellidos_mujeres)


apellidos_hombres_set.intersection(apellidos_mujeres_set)

### Ejercicio 16:
- Encuentra los 10 pasajeros que no sobrevivieron más jovenes e imprime cuantos son hombres y cuantos son mujeres.

In [ ]:
df[df["Survived"] == 0].sort_values("Age").head(10)["Sex"].value_counts()

### Ejercicio 17:
-  En un DataFrame muestra 3 pasajeros que sean hombres y 3 que sean mujeres, que hayan sobrevivido y para cada clase de la columna Pclass.

In [ ]:
df_17 = pd.DataFrame()

for sex in df["Sex"].unique():
    for pclass in df["Pclass"].unique():
        
        df_ = df[(df["Sex"] == sex) & (df["Pclass"] == pclass) & (df["Survived"] == 1)].head(3)
        
        df_17 = pd.concat([df_17, df_], axis = 0, ignore_index = True)
        
df_17

### Ejercicio 18:
- Obtener el tipo de elementos de cada columna y convierte los que sean "int64" a "int32". Evalua la memoria que consume antes y después de convertir las columnas y comenta la diferencia.

In [ ]:
df.info()

In [ ]:
datos_columnas = df.dtypes.to_dict()

datos_columnas

In [ ]:
for llave, valor in datos_columnas.items():
    if valor == "int64":
        df[llave] = df[llave].astype("int32")

In [ ]:
df.info()

### Ejercicio 19:
- Encuentra a los pasajeros de la clase 1 y 3 entre 20 y 25 años y comprueba si son más hombres o mujeres.

In [ ]:
df[(df["Pclass"].isin([1, 3])) & (df["Age"].between(20, 25))]["Sex"].value_counts()

### Ejercicio 20:
- Agrega una nueva columna al DataFrame que se llame: "Rango edad" y va a categorizar de la siguiente manera:
    - Niño < 11 años
    - Joven < 18 años
    - Adulto < 50 años
    - Mayor >= 50 años

In [ ]:
def rango_edad(edad):
    
    if edad < 11:
        return "niño"
    elif edad < 18:
        return "joven"
    elif edad < 50:
        return "adulto"
    else:
        return "mayor"

In [ ]:
df["rango_edad"] = df["Age"].apply(lambda x : rango_edad(x))

df.head(10)

### Ejercicio 21:
- Encontrar a los pasajeros "jovenes" y "mayores" de la clase 2 y 3 que hayan sobrevivido. Imprimir los 10 primeros.

In [ ]:
df[(df["rango_edad"].isin(["joven", "mayor"])) & (df["Pclass"].isin([2, 3]))]

### Ejercicio 22:
- Encuentra la edad promedio de todos los pasajeros y reemmplazala por los NaN en la columna de Age y ejecuta el ejercicio anterior.

In [ ]:
edad_promedio = df["Age"].mean()

edad_promedio

In [ ]:
df["Age"].fillna(edad_promedio, inplace = True)

df.head(10)

### Ejercicio 23:
- Cambia a español la columna **`Sex`**.

In [ ]:
df["Sex"].replace({"male" : "hombre", "female" : "mujer"}, inplace = True)


df["Sex"].unique()

### Ejercicio 24:
- Convierte a mayusculas todas las columnas que los valores sean cadenas.

In [ ]:
datos_columnas = df.dtypes.to_dict()

datos_columnas

In [ ]:
for llave, valor in datos_columnas.items():
    if valor == "object":
        df[llave] = df[llave].apply(lambda x : x.upper())
        
        
df.head()

### Ejercicio 25:
- Agrupa por sexo y rango de edad y encuentra la edad promedio.

In [ ]:
df.groupby(["Sex", "rango_edad"]).agg({"Age" : ["mean"]})

### Ejercicio 26:
- Divide la columna name en las siguientes columnas:
    - Mrs/Miss
    - Apellido
    - Nombre(s)
    
**Nota: Ignora el resto de información.**

In [ ]:
df["Mrs/Mss"] = df["Name"].apply(lambda x : x.split(",")[1].split()[0])

df.head(3)

In [ ]:
df["Apellido"] = df["Name"].apply(lambda x : x.split(",")[0])

df.head(3)

In [ ]:
df["Nombre"] = df["Name"].apply(lambda x : " ".join(x.split(",")[1].split()[1:]))

df.head(3)